version: '3.0'
services:
  web:
    build: .
    container_name: web_template
    restart: always
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf
    expose: 
      - 80
    # ports: 
    #   - 8000:80
#     networks:
#       - production_net
# networks:
#   production_net:
#     external: true